[submodule "prysm"]
	path = prysm
	url = https://github.com/prysmaticlabs/prysm.git
[submodule "protobuf"]
	path = protobuf
	url = git@github.com:gogo/protobuf.git
[submodule "googleapis"]
	path = googleapis
	url = git@github.com:googleapis/googleapis.git
[submodule "github.com/gogo/protobuf"]
	path = github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf.git
[submodule "grpc-gateway"]
	path = grpc-gateway
	url = git@github.com:prysmaticlabs/grpc-gateway.git
